#vscode

.vscode

#audio

*.mp3

#dart

.dart_tool
.packages

#flutter

.flutter-plugins
.flutter-plugins-dependencies

#miniaudio. Get it from here: https://github.com/mackron/miniaudio if you wish to test yourself.

linux/include/com.alexmercerind/miniaudio.h